<div class="AView-Style" data-base="AView" data-class="AView" data-fullview="true" data-work-size="160px|260px|300px|30px" style="width: 100%; height: 100%; left: 0px; top: 0px; border-style: solid; border-color: rgb(255, 255, 255); background-color: rgb(48, 48, 48); color: rgb(0, 0, 0);" data-class-map="{&quot;afc&quot;:[&quot;AView&quot;,&quot;AGridLayout&quot;,&quot;ALabel&quot;,&quot;AButton&quot;]}">
    <div class="AGridLayout-Style dev_AGridLayout_Style dev_AGridLayout-Style" data-base="AGridLayout" data-class="AGridLayout" data-flag="0001" style="width: 100%; height: 100%; left: 0px; top: 0px;">
        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr style="height: 100%;">
                    <td style="width: 30px; text-align: center; vertical-align: middle;">
                        <label class="ALabel-Style" data-base="ALabel" data-bg-option="pattern" data-class="ALabel" style="width: 16px; height: 16px; position: relative; left: 0px; top: 0px; background-image: url(&quot;Framework/afc/image/dock_win_icon.png&quot;); margin-top: 4px;"></label>
                    </td>
                    <td class="" style="text-align: left; vertical-align: middle;"><label class="ALabel-Style" data-base="ALabel" data-bg-option="stretch" data-class="ALabel" style="height: 16px; position: relative; color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0); width: auto; left: 0px; top: 0px; word-break: break-all; font-family: inherit;">Label</label></td>
                    <td class="" style="width: 18px; text-align: center; vertical-align: middle;">
                        <button class="AButton-Style" data-base="AButton" data-class="AButton" data-flag="0001" style="width: 16px; height: 16px; position: relative; left: 0px; top: 0px; background-image: url(&quot;Framework/afc/image/min_win.png&quot;); margin-top: 4px; background-color: rgba(0, 0, 0, 0);"></button>
                    </td>
                    <td class="" style="width: 18px; text-align: center; vertical-align: middle;">
                        <button class="AButton-Style" data-base="AButton" data-class="AButton" data-flag="0001" style="width: 16px; height: 16px; position: relative; left: 0px; top: 0px; background-image: url(&quot;Framework/afc/image/max_win.png&quot;); margin-top: 4px; background-color: rgba(0, 0, 0, 0);"></button>
                    </td>
                    <td class="" style="width: 18px; text-align: center; vertical-align: middle;">
                        <button class="AButton-Style" data-base="AButton" data-class="AButton" data-flag="0001" style="width: 16px; height: 16px; position: relative; left: 0px; top: 0px; background-image: url(&quot;Framework/afc/image/close_win.png&quot;); margin-top: 4px; background-color: rgba(0, 0, 0, 0);"></button>
                    </td>
                    <td style="width: 5px; text-align: left; vertical-align: middle;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>