
.frm_min_btn
{
	border: none !important;
	background-color: transparent !important;
}

.frm_max_btn
{
	border: none !important;
	background-color: transparent !important;

}

.frm_close_btn
{
	border: none !important;
	background-color: transparent !important;

}

.frm_title_bg
{
	background-color: rgb(48, 48, 48) !important;
}

.popup_btn_touch
{
	border : 1px solid #d9d9d9 !important;
	color: #d9d9d9 !important;
	background-color: #424242 !important;
	border-radius : 3px !important;
}

.popup_btn_normal
{
	border : 1px solid #262626 !important;
	color: #d9d9d9 !important;
	background-color: #424242 !important;
	border-radius : 3px !important;
}

